@import 'vars';

.clients {
  padding: 30px 15px 30px;
}

@media (min-width: $breakpoint-lg) {
  .clients {
    padding-bottom: 40px;
  }
}

@media (min-width: $breakpoint-xl) {
  .clients {
    padding-bottom: 50px;
  }
}

.clients__title {
  display: none;
}

.clients__wrapper {
  margin-top: 30px;
}

@media (min-width: $breakpoint-md) {
  .clients__wrapper {
    margin-top: 50px;
  }
}

@media (min-width: $breakpoint-lg) {
  .clients__wrapper {
    margin-top: 50px;
  }
}

@media (min-width: $breakpoint-xl) {
  .clients__wrapper {
    margin-top: 70px;
  }
}

.clients__brands {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: $breakpoint-md) {
  .clients__brands {
    width: 690px;
    gap: 30px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: $breakpoint-lg) {
  .clients__brands {
    width: 930px;
    gap: 43px;
  }
}

@media (min-width: $breakpoint-xl) {
  .clients__brands {
    width: 1110px;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.clients__brand:nth-child(2n) {
  justify-self: end;
}

.clients__brand {
  width: 130px;
  height: 47px;
}

@media (min-width: $breakpoint-md) {
  .clients__brand {
    width: 150px;
    height: 54px;
  }
}

@media (min-width: $breakpoint-lg) {
  .clients__brand {
    width: 200px;
    height: 72px;
  }
}
