@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  font-family: "Nunito";
  color: #000000;
  border: 0px;
  background-color: #ffffff;
}

.app.dark {
  background: #484848;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Nunito";
  color: #000000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaaaaa;
  z-index: 1;
  color: #000000;
  background: #ffffff;
}

.header.dark {
  color: #ffffff;
  background: #484848;
}

.header::after {
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #aaaaaa;
  z-index: 2;
  background: inherit;
  box-shadow: 0px 0px 15px;
}
@media (min-width: 1152px) {
  .header::after {
    height: 70px;
  }
}

.header__wrapper {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0px 1px 0px #aaaaaa;
  background: inherit;
}
@media (min-width: 768px) {
  .header__wrapper {
    width: 690px;
    margin: 0 auto;
  }
}
@media (min-width: 1152px) {
  .header__wrapper {
    width: 930px;
    height: 40px;
    padding: 15px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .header__wrapper {
    width: 1110px;
  }
}

.header__logo {
  height: 30px;
  width: 77px;
  color: currentColor;
  background: inherit;
  z-index: 3;
  cursor: pointer;
}
@media (min-width: 1152px) {
  .header__logo {
    height: 40px;
    width: 102px;
  }
}

.header__logo svg {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  fill: currentColor;
}

.header__button {
  margin-left: auto;
  display: flex;
  align-items: center;
  z-index: 3;
}
@media (min-width: 1152px) {
  .header__button {
    margin-left: 40px;
  }
}
@media (min-width: 1440px) {
  .header__button {
    margin-left: 50px;
  }
}

.header__button img {
  vertical-align: middle;
}

.header__lang {
  width: 50px;
  height: 30px;
  color: currentColor;
  background: inherit;
  border: 1px solid currentColor;
  border-radius: 4px;
  cursor: pointer;
}
@media (min-width: 1152px) {
  .header__lang {
    width: 60px;
    height: 40px;
  }
}

.header__theme {
  margin-left: 20px;
  width: 26px;
  height: 26px;
  background: inherit;
  color: currentColor;
  cursor: pointer;
}
@media (min-width: 1152px) {
  .header__theme {
    margin-left: 40px;
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1440px) {
  .header__theme {
    margin-left: 50px;
  }
}

.header__theme svg {
  fill: currentColor;
}

.header__burger {
  margin-left: 20px;
  height: 20px;
  width: 30px;
  position: relative;
  background: inherit;
  color: currentColor;
  cursor: pointer;
}
@media (min-width: 1152px) {
  .header__burger {
    display: none;
  }
}

.header__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
}

.header__burger::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
}

.header__burger::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: currentColor;
  position: absolute;
  bottom: 0;
}

.header__burger.active::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.header__burger.active span {
  opacity: 0;
}

.header__burger.active::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.header__nav {
  background: inherit;
}
@media (min-width: 1152px) {
  .header__nav {
    margin-left: auto;
  }
}

.header__menu {
  position: fixed;
  top: -150%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: inherit;
  transition: 0.5s;
  visibility: hidden;
}
@media (min-width: 1152px) {
  .header__menu {
    width: 530px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    top: 0;
    background: inherit;
    visibility: visible;
    margin-left: auto;
    transition: 0s;
    z-index: 3;
  }
}
@media (min-width: 1440px) {
  .header__menu {
    width: 567px;
    gap: 50px;
  }
}

.header__menu.active {
  top: 50px;
  overflow-y: scroll;
  visibility: visible;
}

.header__item {
  border-bottom: 1px solid #aaaaaa;
}
@media (min-width: 1152px) {
  .header__item {
    border-bottom: none;
  }
}

.header__item a {
  display: block;
  padding: 23px 15px;
  font-size: 24px;
}
@media (min-width: 1152px) {
  .header__item a {
    display: flex;
    padding: 0px;
    font-size: 20px;
  }
}

.download {
  padding: 60px 15px 0;
}

.download__wrapper {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .download__wrapper {
    display: flex;
    gap: 30px;
    width: 690px;
    margin: 30px auto 0;
  }
}
@media (min-width: 1152px) {
  .download__wrapper {
    gap: 40px;
    width: 930px;
    margin: 40px auto 10px;
  }
}
@media (min-width: 1440px) {
  .download__wrapper {
    gap: 110px;
    width: 1110px;
    margin: 50px auto 20px;
  }
}

@media (min-width: 768px) {
  .download__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.download__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}
@media (min-width: 768px) {
  .download__title {
    font-size: 36px;
  }
}
@media (min-width: 1152px) {
  .download__title {
    font-size: 42px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .download__title {
    font-size: 56px;
    line-height: 75px;
  }
}

.download__copy {
  margin-top: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .download__copy {
    margin-top: 20px;
  }
}
@media (min-width: 1152px) {
  .download__copy {
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
  }
}
@media (min-width: 1440px) {
  .download__copy {
    font-size: 20px;
    line-height: 30px;
  }
}

.download__links {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .download__links {
    display: flex;
  }
}

.download__link {
  display: block;
  width: 150px;
  height: 44px;
}

.download__link:last-child {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .download__link:last-child {
    margin-top: 0;
    margin-left: 20px;
  }
}

.download__image {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .download__image {
    margin-top: 0px;
    flex: 1;
  }
}

.warranty {
  padding: 30px 15px 0;
}

.warranty__wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .warranty__wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    width: 690px;
    margin: 30px auto 0;
  }
}
@media (min-width: 1152px) {
  .warranty__wrapper {
    gap: 40px;
    width: 930px;
    margin: 40px auto 10px;
  }
}
@media (min-width: 1440px) {
  .warranty__wrapper {
    gap: 110px;
    width: 1110px;
    margin: 50px auto 20px;
  }
}

@media (min-width: 768px) {
  .warranty__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.warranty__title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .warranty__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1152px) {
  .warranty__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .warranty__title {
    font-size: 40px;
  }
}

.warranty__copy {
  margin-top: 10px;
  line-height: 20px;
}
@media (min-width: 1152px) {
  .warranty__copy {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1440px) {
  .warranty__copy {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.warranty__image {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .warranty__image {
    margin-top: 0px;
    flex: 1;
  }
}

.care {
  padding: 30px 15px 0px;
}

.care__wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .care__wrapper {
    display: flex;
    gap: 30px;
    width: 690px;
    margin: 30px auto 0;
  }
}
@media (min-width: 1152px) {
  .care__wrapper {
    gap: 40px;
    width: 930px;
    margin: 40px auto 10px;
  }
}
@media (min-width: 1440px) {
  .care__wrapper {
    gap: 110px;
    width: 1110px;
    margin: 50px auto 20px;
  }
}

@media (min-width: 768px) {
  .care__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
}

.care__title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .care__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1152px) {
  .care__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .care__title {
    font-size: 40px;
  }
}

.care__copy {
  margin-top: 10px;
  line-height: 20px;
}
@media (min-width: 1152px) {
  .care__copy {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1440px) {
  .care__copy {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.care__image {
  margin-top: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 20px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .care__image {
    margin-top: 0px;
    flex: 1;
  }
}

.cashback {
  padding: 30px 15px 0px;
}

.cashback__wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .cashback__wrapper {
    width: 460px;
    margin: 50px auto 0;
  }
}
@media (min-width: 1152px) {
  .cashback__wrapper {
    width: 500px;
    margin-top: 40px;
  }
}
@media (min-width: 1440px) {
  .cashback__wrapper {
    width: 580px;
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .cashback__text-block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.cashback__title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .cashback__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1152px) {
  .cashback__title {
    font-size: 34px;
  }
}
@media (min-width: 1440px) {
  .cashback__title {
    font-size: 40px;
  }
}

.cashback__copy {
  margin-top: 10px;
  line-height: 20px;
}
@media (min-width: 1152px) {
  .cashback__copy {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (min-width: 1440px) {
  .cashback__copy {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.button__order-open {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 16px;
  background: inherit;
  border: 1px solid #aaaaaa;
  border-radius: 30px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .button__order-open {
    width: 225px;
    margin: 20px auto 0;
  }
}
@media (min-width: 1152px) {
  .button__order-open {
    width: 243px;
    height: 55px;
  }
}
@media (min-width: 1440px) {
  .button__order-open {
    width: 282px;
    height: 67px;
    margin-top: 30px;
  }
}

.button__order-open.dark {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.section__order {
  display: none;
}

.section__order.visibility {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* modal */
.modal {
  font-family: "Nunito";
  color: #000000;
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #797878;
}

.modal__reset {
  display: flex;
  justify-content: right;
  padding: 5px;
}

.button__reset {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: transparent;
}

.button__reset::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.button__reset::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.button__reset::before {
  transform: rotate(45deg);
}

.button__reset::after {
  transform: rotate(-45deg);
}

.modal__title {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}

.order-form {
  margin: 5px 20px 35px;
  display: flex;
  flex-direction: column;
}

.order-form__field {
  display: flex;
  align-items: center;
  height: 26px;
  margin-top: 15px;
  border-bottom: 1px solid #aaaaaa;
}

.order-form__field input {
  width: 100%;
  font-family: "Nunito";
  border: none;
  color: #aaaaaa;
  outline: none;
}

.order-form__field:last-of-type {
  border-bottom: none;
}

.order-form__field.valid {
  border-color: #09b800;
}

.order-form__field.invalid {
  border-color: #ff0000;
}

.order-form__select {
  width: 100%;
  font-family: "Nunito";
  border: none;
  color: #aaaaaa;
  outline: none;
}

.order-form__select:focus {
  border: none;
}

input::placeholder {
  padding-left: 5px;
  color: #aaaaaa;
}

.order-form__field a {
  margin-left: 5px;
  text-decoration: underline;
}

.order-form__field input[type=checkbox] {
  width: auto;
}

.order-form__submit {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 30px;
  cursor: pointer;
}

.order-form__submit:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.clients {
  padding: 30px 15px 30px;
}
@media (min-width: 1152px) {
  .clients {
    padding-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .clients {
    padding-bottom: 50px;
  }
}

.clients__title {
  display: none;
}

.clients__wrapper {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .clients__wrapper {
    margin-top: 50px;
  }
}
@media (min-width: 1152px) {
  .clients__wrapper {
    margin-top: 50px;
  }
}
@media (min-width: 1440px) {
  .clients__wrapper {
    margin-top: 70px;
  }
}

.clients__brands {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px) {
  .clients__brands {
    width: 690px;
    gap: 30px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1152px) {
  .clients__brands {
    width: 930px;
    gap: 43px;
  }
}
@media (min-width: 1440px) {
  .clients__brands {
    width: 1110px;
    gap: 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}

.clients__brand:nth-child(2n) {
  justify-self: end;
}

.clients__brand {
  width: 130px;
  height: 47px;
}
@media (min-width: 768px) {
  .clients__brand {
    width: 150px;
    height: 54px;
  }
}
@media (min-width: 1152px) {
  .clients__brand {
    width: 200px;
    height: 72px;
  }
}

.footer {
  background-color: #484848;
}

.footer__wrapper {
  padding: 30px 15px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__wrapper {
    width: 690px;
    margin: 0 auto;
  }
}
@media (min-width: 1152px) {
  .footer__wrapper {
    width: 930px;
  }
}
@media (min-width: 1440px) {
  .footer__wrapper {
    width: 1110px;
  }
}

.footer__wrapper a {
  color: #ffffff;
}

.footer__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
  }
}
@media (min-width: 1152px) {
  .footer__columns {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 50px;
  }
}
@media (min-width: 1152px) {
  .footer__columns {
    column-gap: 90px;
  }
}

.footer__info {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .footer__info {
    display: flex;
  }
}
@media (min-width: 1152px) {
  .footer__info {
    margin: 40px 0 10px;
  }
}
@media (min-width: 1440px) {
  .footer__info {
    margin: 50px 0 20px;
  }
}

.footer__logo {
  background-color: #484848;
  cursor: pointer;
}

.footer__copy {
  font-size: 12px;
  color: #ffffff;
  line-height: 18px;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .footer__copy {
    font-size: 14px;
  }
}
@media (min-width: 1152px) {
  .footer__copy {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: 768px) {
  .footer__dev {
    margin-left: 30px;
  }
}
@media (min-width: 1152px) {
  .footer__dev {
    margin-left: 117px;
  }
}
@media (min-width: 1440px) {
  .footer__dev {
    margin-left: 300px;
  }
}

.developer {
  width: 130px;
  height: 46px;
  display: block;
  margin: 10px auto 0px;
}
@media (min-width: 768px) {
  .developer {
    width: 100%;
    height: 100%;
    margin-right: 0;
  }
}

.column__title {
  font-size: 16px;
  font-weight: 700;
}
@media (min-width: 1152px) {
  .column__title {
    font-size: 20px;
  }
}

.column__list {
  padding-top: 10px;
}

.column__item {
  margin-top: 10px;
}
@media (min-width: 1152px) {
  .column__item {
    margin-top: 15px;
  }
}

@media (min-width: 1152px) {
  .column__item:first-child {
    margin-top: 10px;
  }
}

.column__item img {
  width: 40px;
  height: 40px;
}

.column__item p {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
@media (min-width: 1152px) {
  .column__item p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
